CAN720/src/main/resources/wsdl/EmpCompensationEntityUPSERT0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="EmpCompensation"><xs:complexType><xs:sequence><xs:element minOccurs="1" maxOccurs="unbounded" name="EmpCompensation"><xs:complexType><xs:sequence><xs:element nillable="false" maxOccurs="unbounded" name="userId"><xs:simpleType><xs:restriction base="xs:string" xmlns=""><xs:maxLength value="100"/></xs:restriction></xs:simpleType></xs:element><xs:element type="xs:dateTime" nillable="false" maxOccurs="unbounded" name="startDate" xmlns=""/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>